header,
footer {
  background-color: darkmagenta;
  color: pink;
}

nav {
  background-color: orangered;
}

main {
  background-color: cadetblue;
}

aside {
  background-color: orange;
}

body {
  margin: 0;
}

/* h1 {
    margin: 0;
  }

  h2 {
    margin: 0;
  } */

header,
footer,
main,
aside,
nav {
  display: flow-root;
}

/* Layout */
html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  /* gap: 2rem */
}

header,
footer {
  flex-basis: 100px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  /* gap: 2rem; */
  align-items: stretch;
  flex-grow: 1;
}

nav,
aside {
  flex-basis: 150px;
}

main {
  flex: auto 1 1;
}

nav {
  order: 0;
}

main {
  order: 2;
}

aside {
  order: 1;
}
