header,
footer {
  background-color: darkmagenta;
  color: pink;
}

nav {
  background-color: orangered;
}

main {
  background-color: cadetblue;
}

aside {
  background-color: orange;
}

body {
  margin: 0;
}

main,
aside,
nav,
header,
footer {
  display: flow-root;
}

/* Layout */
html, body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  order: 1;
  flex-grow: 1;
}

nav {
  order: 2;
}

aside {
  order: 3
}

footer {
  order: 4
}

@media screen and (min-width: 500px) {
  body {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 100px 1fr 100px 100px;
  }

  header, footer {
    grid-column: 1 / -1;
    height: 100px;
  }

  nav {
    order: 0;
  }

  aside {
    grid-column: 1 / -1;
  }
}

@media screen and (min-width: 800px) {
  body {
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 100px 1fr 100px;
  }

  aside {
    grid-column: initial;
  }
}

/* 

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-areas: 
    "top top top"
    "left mid right"
    "bottom bottom bottom"; */
    /*
  grid-template-rows: 100px 1fr 100px;
  /* gap: 2rem; */
  /*
}

header, footer {
  grid-column: 1 / -1;
}

/* header {
  grid-area: mid;
}

footer {
  grid-area: right;
}

aside {
  grid-area: left;
}

nav {
  grid-area: bottom;

}

main {
  grid-area: top;
} */
/*
 */
