:root {
  --brand-color: #f00;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 10px;
  color: #333;
}

body {
  background-color: #bada55;
  font-size: 1.6rem;
  /* opacity: 50%; */
  text-align: center;
}

p:focus-within {
  color: var(--brand-color);
}

.custom-input {
  border: 5px solid var(--brand-color);
  padding: 50px;
  margin-right: 50px;
}

#main-title {
  color: hotpink;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

:visited {
  color: red;
}

[href^=http]::before {
  background: url(../assets/ext-link.png);
  background-size: contain;
  content: '';
  display: inline-block;
  height: 15px;
  width: 15px;
}

::selection {
  background-color: deeppink;
}

p::first-letter {
  font-size: 2em;
  float: left;
  line-height:1;
}

button:disabled {
  color: blue;
}

.highlight {
  background-color: yellow;
}

.special {
  color:aqua
}

.highlight.special {
  font-size: 2em;
}

.hidden {
  display: none !important;
}

#main-title.main-heading {
  color: inherit;
}

.highlight,
.main-heading {
  font-family: cursive;
}

/** Selector Specificity
  * (everything selector)            - 0
  Element, ::pseudo-elements         - 1
  .class, :pseudo-class, [attribute] - 10
  #id                                - 100
  style="inline styles"              - 1000
*/

/** Cascading
  1. Specificity
  2. Source code order
  3. Importance
*/

/** Selector combinators */
/*Same element combinator: '' (nothing)*/
a.highlight.special {
  font-family: monospace;
}

/*(any level) Descendent selector combinator: ' ' (space)*/
.some-class a {
  color: green;
}

/*(direct/child) Descendent combinator: > (greater than)*/
.some-class > strong > a {
  color: fuchsia;
}

/*Any preceding sibling: ~ (tilde)*/
h1 ~ p {
  color: yellow;
}

/*Direct preceding sibling: + (plus)*/
h1 + p {
  color: color-mix(in srgb, var(--brand-color) 49%, var(--brand-color) 1%);
}


p:last-of-type {
  /* opacity: 0.3; */
  color: rgba(255, 255, 0, 0.8);
}

div {
  min-height: 50rem;
  width: 50rem;
  border: 10px solid red;
  border-inline-color: blue;
  /* border-radius: 50%; */
  padding-block: 50px;
  margin: auto;

  text-align: justify;
  overflow: hidden;

  &::before {
    content: '';
    display: inline-block;
    border: 20px solid purple;
    border-top: none;
    border-inline-color: transparent;

    /* transform: translate(40px, 20px) rotate(30deg) */
  }
}
/**
  0. New features: custom properties, nesting
  1. Box model
  2. Display
  3. Position
*/

/* Box Model */
strong {
  display: grid;
  padding-top: 100px;
}


iframe {
  vertical-align: middle;
}
